.jumbotron {
    padding-top: 8rem;
    background-color: #e2edff;
    
}
#project {
    background-color: #e2edff;
}

section {
    padding-top: 5rem;
}

.ollapsec ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

.ollapsec a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 3px;
}

.ollapsec a:hover {
    background-color: lightskyblue;
    color: white;
}

.img wa {
    margin: auto;
    width: 3px;
    height: 3px;
}